<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Rafael Rivlin</title>
    <link rel="stylesheet" href="styles.css">

    <meta property="og:title" content="Rafael Rivlin CV">
    <meta property="og:description" content="Gerente de Medios Digitales / Desarrollador Web">
    <meta property="og:image" itemprop="image primaryImageOfPage" content="https://rafa1771.github.io/SlackProfilePic.png">
    <meta property="og:url" content="https://rafa1771.github.io/">
    <meta property="og:type" content="website">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
    <meta itemprop="image" content="https://rafa1771.github.io/SlackProfilePic.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

</head>
<body>
    <div id="cv-container">
        <div id="mode-selector">
            <span id="toggle-mode" class="mode-btn">Dark Mode</span>
        </div>
        <div id="language-selector">
            <span class="lang-btn" hx-get="content-es.html" hx-trigger="click" hx-target="#content">ES</span> | 
            <span class="lang-btn" hx-get="content-en.html" hx-trigger="click" hx-target="#content">EN</span>
        </div>
        <div id="content" hx-get="content-en.html" hx-trigger="load"></div>
    </div>

    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const toggleMode = document.getElementById('toggle-mode');
            const currentMode = localStorage.getItem('dark-mode') || 'light';
            if (currentMode === 'dark') {
                document.body.classList.add('dark-mode');
                toggleMode.textContent = 'Light Mode';
            }

            toggleMode.addEventListener('click', function() {
                document.body.classList.toggle('dark-mode');
                const mode = document.body.classList.contains('dark-mode') ? 'dark' : 'light';
                localStorage.setItem('dark-mode', mode);
                toggleMode.textContent = mode === 'dark' ? 'Light Mode' : 'Dark Mode';
            });
        });
    </script>
</body>
</html>
